@import url('./fa/css/solid.min.css');
@import url('./fa/css/fontawesome.min.css');

:root {
    --taskMargin: 10px 0 0; ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #e4e4f7;
}

header, header nav, header nav ul, .main-container .task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header, nav, header nav ul {
    min-height: 80px;
}
header h1, header nav {
    margin: 0 20px;
}

header nav ul li{
    margin: 1em 0.5em;
}

header nav ul li a {
    padding: 7px;
    border: 2px solid #5c6f89;
    font-weight: 900;
}

header nav ul li a:hover {
    background-color: #5c6f89;
    color: #fff;
}

.fullWidth {
    width: 100%;
    text-align: center;
}
.main-container {
    width: 100%;
    height: 84vh;
}

.main-container .task-container {
    width: 80%;
    height: 32vh;
    margin: 0 auto;
}

.task1, .task2 {
    margin: var(--taskMargin);
}

/*TASK 1 Style*/
.task1 {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    animation: c-to-s 1s ease-out infinite alternate;
}

@keyframes c-to-s {
    from {
        background-color: red;
        border-radius: 50%;
    }
    to{
        background-color: orange;
        border-radius: 0%;}
}

/*Task 2 Style*/
.fas {
    width: 30px;
    text-align: center;
    font-size: 1.3em;
}

.task2-item {
    transform: translateX(-10em);
    transition: opacity 0.5s linear, transform 0.5s linear;
    opacity: 0;
    padding: 3px;
}

.loaded .task2-item {
    transform: translateX(0);
    opacity: 1;
}
.task2-item:nth-child(1) {transition-delay: 0.1s;}
.task2-item:nth-child(2) {transition-delay: 0.2s;}
.task2-item:nth-child(3) {transition-delay: 0.3s;}
.task2-item:nth-child(4) {transition-delay: 0.4s;}
.task2-item:nth-child(5) {transition-delay: 0.5s;}
.task2-item:nth-child(6) {transition-delay: 0.6s;}
.task2-item:nth-child(7) {transition-delay: 0.7s;}

.task2-item a {
    font-weight: bold;
}

/*TASK 3 Styles*/
.task3, .task3:before, .task3:after {
    width: 800px;
    height: 450px;
}
    
.task3:before {
    content: ' ';
    display: block;
    position: absolute;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5c6f89+0,c0d5e5+100 */
    background: -moz-linear-gradient(top,  #5c6f89 0%, #c0d5e5 100%); /* FF3.6-15 */
    background: linear-gradient(to bottom,  #5c6f89 0%,#c0d5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.task3:after {
    content: ' ';
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5c6f89+0,c0d5e5+100 */
    background: -moz-linear-gradient(top,  #e6b104 0%, #e5dbc0 100%); /* FF3.6-15 */
    background: linear-gradient(to bottom,  #e6b104 0%,#e5dbc0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.task3:hover:after {
    opacity: 1;
}

/*Task 4 Styles*/
.task4 {
    width: 450px;
    display: grid;
    justify-content: center;
    grid-template-columns: 150px 200px;
    gap: 15px;
}
.task4 a {
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    color: #243ba0;
    font-weight: bold;
    padding: 10px;
    border: 5px solid;
    box-shadow: 0 0 0 0px #243ba0;
    transition: box-shadow 0.5s linear;
}

.task4 a:hover {
    box-shadow: 0 0 0 5px #243ba0;
}